<h1>United Way</h1>
<p class="lead">Put some content here</p>

<div class='row'>
  <div class='col-md-2'>
      <div class="panel panel-default">
        <div class="panel-heading">Login</div>
        <div class="panel-body">
          <div class='row center-block'>
            <div class='col-md-4'>
              <p><button type="button" class="btn btn-primary btn-large">Facebook</button></p>
            </div>
          </div>
          <div class='row'></div>
          <div>
            <div class='col-md-4'>
              <p><button type="button" class="btn btn-primary btn-large">Twitter</button></p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
